.backpack-container {
  background: var(--color-white);
  width: 128rem;
  height: 70vh;
  margin: 0 auto;
  /* border-radius: 1.2rem; */
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.backpack-footer {
  background: var(--color-white);
  width: 128rem;
  margin: 0 auto;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 50px 13px rgba(0, 0, 0, 0.05);
  padding: 2.4rem;
  margin-top: auto;
  margin-bottom: 3rem;
}

.backpack-navigation {
  background-color: #f5f5f5;
  padding: 2.4rem;
  width: 30rem;
}

.backpack-section {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}

.backpack-section__content {
  overflow: scroll;
  flex: 1;
}

.backpack-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backpack-section__subtitle {
  opacity: 0.5;
}

.backpack-section__footer {
  display: flex;
  justify-content: space-between;
}

.backpack-intro-steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.backpack-intro-steps__item {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  padding: 3rem;
}

.backpack-intro-steps__item:last-of-type {
  width: 100%;
  grid-column: 1 / span 3;
}
